body {
    font-family: Arial, sans-serif;
    background-color: #d0c8b8;
}
.sidebar {
    height: 100vh;
    padding: 0;
    background-color: #133215;
}
.sidebar .nav-link {
    color: #92b775      ;
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid #92b775;
}
.sidebar .nav-link:hover {
    color: #92b775;
    background-color: #92b775;
}
.sidebar .nav-link.active {
    color: #92b775;
}
.nav-link span {
    margin-right: 10px;
}
.main-content {
    padding: 20px;
    background-color: #92b775;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    font-weight: bold;
    margin-bottom: 20px;
}
.btn-primary {
    background-color: #92b775;
    border-color: #92b775;
}
.btn-primary:hover {
    background-color: #92b775;
    border-color: #92b775;
}
#balanceChart {
    max-width: 100%;
    height: 400px;
    margin-bottom: 20px;
}
#incomeList, #expenseList {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#incomeList .entry, #expenseList .entry {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #92b775;
}
#incomeList .entry:last-child, #expenseList .entry:last-child {
    border-bottom: none;
}
#incomeList .entry .name, #expenseList .entry .name {
    font-weight: bold;
}
#incomeList .entry .amount, #expenseList .entry .amount {
    color: #92b775;
}
.d-none {
    display: none !important;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.btn-success {
    background-color: #92b775 !important;
    border-color: #92b775 !important;
}
.btn-success:hover {
    background-color: #92b775 !important;
    border-color: #92b775 !important;
}